x-airflow-environment: &airflow-common-env
  AIRFLOW__CORE__EXECUTOR: LocalExecutor
  AIRFLOW__CORE__LOAD_DEFAULT_CONNECTIONS: "false"
  AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
  AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
  AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
  AWS_ROLE_ARN: ${AWS_ROLE_ARN}
  S3_BUCKET_NAME: ${S3_BUCKET_NAME}
  REDSHIFT_HOST: ${REDSHIFT_HOST}
  REDSHIFT_PORT: ${REDSHIFT_PORT}
  REDSHIFT_DB: ${REDSHIFT_DB}
  REDSHIFT_USER: ${REDSHIFT_USER}
  REDSHIFT_PASSWORD: ${REDSHIFT_PASSWORD}
  KOBIS_API_KEY: ${KOBIS_API_KEY}
  SUPERSET_SECRET_KEY: ${SUPERSET_SECRET_KEY}

services:
  # PostgreSQL for Airflow metadata
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5

  # Airflow init
  airflow-init:
    build: ./airflow
    entrypoint: >
      bash -c "
      echo 'Initializing Airflow DB...' &&
      airflow db init
      "
    environment:
      <<: *airflow-common-env
    depends_on:
      postgres:
        condition: service_healthy
    restart: "no"


  # Airflow Webserver
  airflow-webserver:
    build: ./airflow
    command: webserver
    ports:
      - "8081:8080"
    environment:
      <<: *airflow-common-env
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    env_file:
      - .env
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./dbt:/opt/airflow/dbt
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  # Airflow Scheduler
  airflow-scheduler:
    build: ./airflow
    command: scheduler
    environment:
      <<: *airflow-common-env
    env_file:
      - .env
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./dbt:/opt/airflow/dbt
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  # Superset
  superset:
    build: ./superset
    ports:
      - "8088:8088"
    environment:
      SUPERSET_SECRET_KEY: ${SUPERSET_SECRET_KEY}
      REDSHIFT_HOST: ${REDSHIFT_HOST}
      REDSHIFT_PORT: ${REDSHIFT_PORT}
      REDSHIFT_DB: ${REDSHIFT_DB}
      REDSHIFT_USER: ${REDSHIFT_USER}
      REDSHIFT_PASSWORD: ${REDSHIFT_PASSWORD}
    volumes:
      - superset-data:/app/superset_home
      - ./superset/superset_config.py:/app/pythonpath/superset_config.py

volumes:
  postgres-db-volume:
  superset-data: